<?xml version="1.0"?>
<config>
    <modules>
        <Mitac_Hello>
            <version>1.0.0</version>
        </Mitac_Hello>
    </modules>
	<global>
		<blocks>
            <mitachello>
                <class>Mitac_Hello_Block</class>
            </mitachello>
        </blocks>
	</global>
	<frontend>
		<routers>
            <mhello>
                
				<use>standard</use>
                <args>
                    <module>Mitac_Hello</module>
                    <frontName>mhello</frontName>
                </args>
            </mhello>
        </routers>
		<layout>
			<updates>
				<mhello module="Mitac_Hello">
					<file>mitac/hello.xml(/file>
				<mhello>
			</updates>
		<layout>
	</frontend>
</config>